h1 Projects
p My projects

.row(ng-repeat='project in projects')
    .col
        .jumbotron
            h1 {{project.name}}
            p Created at {{project.created_at}}
            p
             a.btn.btn-primary.btn-lg(href='#/project/{{project._id}}', role='button') Enter