h1 Projetos
p Welcome to Waterfall

.row.wrapper
    .list-wrapper
        section.col-md-3.list(ng-repeat='(listName, list) in models.lists')
            header
                h5 {{listName}}
            article(dnd-list='list', scroll-glue='list.glued')
                .card.thumbnail(ng-repeat='item in list.list', dnd-draggable='item', dnd-moved='list.splice($index, 1)',
                        dnd-effect-allowed='move', dnd-selected='models.selected = item',
                        ng-class="{'selected': models.selected === item}")
                    .caption
                        h3(contenteditable='true', stripBr='true', ng-model='item.title', placeholder='Title...')
                        p(contenteditable='true', stripBr='true', ng-model='item.label', placeholder='Description...')
            p
                button.btn.btn-default.btn-xs(ng-click='addCard(list)') Add card