.wrapper {
  overflow-x: auto;
}

.list-wrapper {
  display: inline-flex;
  margin-left: 20px;
}

.list {
  background-color: #666;
  margin-right: 20px;
  width: 250px;
  height: 100%;
}

.list article {
  margin-bottom: 10px;
  overflow-y: scroll;
}

.card {
  cursor: move;
  min-height: 50px;
}

.card.over {
  border: 2px dashed #000;
}